<div class="card">
    <h1>Angular Course </h1>
    <img src="https://images.unsplash.com/photo-1647536161169-56f09d63bbb6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Library">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Reiciendis quia vitae vel mollitia est obcaecati similique quos placeat,
          ex natus exercitationem voluptatum dicta voluptatibus amet totam sequi, magnam iusto maiores!</p>
</div>
