.container{
    width: 60vw;
    display: flex;
    flex-direction: column;
    gap:2rem;
    justify-content: center;
    align-items: center;
}
@media(max-width:600px){
   .container{
     max-width:20rem ;
   }
   input{
    max-width:15rem;
   }
   .task{
    max-width: 30rem;
   }
}
input{
    width:70%;
    padding: 0.7rem 1rem;
    border: 1px solid grey;
    &focus{
        border: none;
    }
    border-radius: 1rem;
}
.add{
    max-width: 10rem;
}
.btnCount{
    display: flex;
    gap:2rem;
}
.actions{
    display: flex;
    gap:2rem;
}
.task{
    justify-content: start;
    width: 100%;
}