/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
--root{
    --bg: white;
 --color: black; 
    
}
/* [data-theme='dark']{
 --bg: white;
 --color: black;   
} */
 .dark-theme{
    --bg:black;
    --color: white;
 }
body{
    background-color: var(--bg);
    color: var(--color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-family: "Poppins";
    font-style: normal;
    gap: 1rem;
    padding-bottom: 2rem;
}
/* body.dark-theme{
    background-color: black;
    color: white;
} */
button{
    padding: 0.5rem;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 5px;
    &:hover{
        background-color: cadetblue;
        color: black;
    }
   

}